<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="neptun-details" [formGroup]="regForm">
        <div class="form-group col-md-4" formGroupName="neptunDetails" >
            <mat-form-field>
                <input matInput placeholder="NeptunCode*" class="form-control" formControlName="neptuncode" />
            </mat-form-field>
            <app-file-upload label="grade book export*" accepts=".csv" tooltip=".csv format"  class="form-control" formControlName="gradebook"
            ></app-file-upload>
            <app-file-upload style="margin-top: 8px;"  accepts=".csv" label="courses export*" tooltip=".csv format" class="form-control" formControlName="courses"
            ></app-file-upload>
        </div>
    </div>
    <br />
    <button mat-raised-button type="button" matStepperPrevious>Back</button>
    <button mat-raised-button type="button" matStepperNext (click)="step5Submitted()">Next</button>
</mat-card>