<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
        <mat-card fxFlex="500px">
            <mat-card-header>
                <mat-card-title>Modify subject data:</mat-card-title>
            </mat-card-header>
            <form [formGroup]="subjectForm" autocomplete="off" novalidate (ngSubmit)="submitsubject(profileForm.value)"
                fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
    
                <mat-card-content>
                    <mat-form-field>
                        <input matInput class="form-control" placeholder="Subject code" formControlName="subjectCode"
                            id="subjectCode">
                        <mat-error *ngIf="hasError('subjectCode', 'required')">Subject code is required</mat-error>
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput class="form-control" formControlName="name" placeholder="Name">
                        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput  class="form-control" formControlName="credits" placeholder="Credits">
                        <mat-error *ngIf="hasError('credits', 'required')">Credit is required</mat-error>
                    </mat-form-field>
    
                    <mat-form-field>
                        <input matInput class="form-control" formControlName="suggestedSemester"
                            placeholder="Suggested semester">
                    </mat-form-field>
        
                    <mat-form-field>
                        <mat-label>Subjects tutoring</mat-label>
                        <mat-select formControlName="subjectType" >    
                            <mat-option value="0">None</mat-option>
                            <mat-option value="1">Mathematical And Natural Sciences</mat-option>
                            <mat-option value="2">Enterprise Information Systems</mat-option>
                            <mat-option value="3">Software Engineering</mat-option>
                            <mat-option value="4">Networks And Information Security</mat-option>
                            <mat-option value="5">Databases And Big Data</mat-option>
                            <mat-option value="6">Embedded Systems</mat-option>
                            <mat-option value="7">Economics</mat-option>
                            <mat-option value="8">Humanities</mat-option>
                            <mat-option value="9">Foundation Subjects</mat-option>
                            <mat-option value="11">Computer Architectures</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="end start">
                    <button mat-raised-button color="primary" [disabled]="!subjectForm.valid">Modify</button>
                    <button type="button" mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>