<mat-toolbar color="primary" class="mat-elevation-z8">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div style="margin-right: 30px;">
        <a routerLinkActive="active"  routerlink="/home" mat-button (click)="onHome()">
            <mat-icon>scatter_plot</mat-icon> home
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf='isStudent()'>
                <a  mat-button  routerLinkActive="active"  routerLink="/profile"> My profile </a>
            </li>
            <li *ngIf='isStudent()'>
                <a    mat-button  routerLinkActive="active"  routerLink="/study-buddy/list">Study Group</a>
            </li>
            <li *ngIf='isStudent()'>
                <a   mat-button  routerLinkActive="active"  routerLink="/study-buddy/study-team-search">Team project</a>
            </li>
            <li *ngIf='isStudent()' >
                <a  mat-button  routerLinkActive="active"  routerLink="/study-buddy/tutor-search">Find Tutor</a>
            </li>
            <li *ngIf='isAdmin()'>
                <a   mat-button  routerLinkActive="active"  routerLink="/admin/dashboard">Dashboard</a>
            </li>
            <li *ngIf='isAdmin()'>
                <a   mat-button  routerLinkActive="active"  routerLink="/admin/subject-list">Manage Subjects</a>
            </li>
            <li *ngIf='isAdmin()'>
                <a   mat-button  routerLinkActive="active"  routerLink="/admin/user-list">Manage Users</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-icon-button (click)="onLogout()">
                    <mat-icon>input</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>