<mat-toolbar color="primary" class="mat-elevation-z8">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div style="margin-right: 30px;">
        <a routerLink="/home" mat-button>
            <mat-icon>scatter_plot</mat-icon> Home
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a mat-button routerLink="/profile"> My profile </a>
            </li>
            <li>
                <a mat-button routerLink="/study-buddy/list">Study Group</a>
            </li>
            <li>
                <a mat-button routerLink="/study-buddy/study-team-search">Team project</a>
            </li>
            <li>
                <a mat-button routerLink="/study-buddy/tutor-search">Find Tutor</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>input</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</mat-toolbar>