<mat-card fxFlex="80%" fxFlex.xs="100%">
    <div id="personal-details" [formGroup]="regForm">
        <div class=" form-group col-md-4" formGroupName="personalDetails" fxFlex="75%" fxFlex.xs="100%">
            <mat-form-field>
                <input matInput placeholder="First name*" class="form-control" formControlName="firstname" />
                <!-- <mat-error *ngIf="hasError('firstname', 'required')">This is a mandatory field</mat-error> -->
               
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder=" Last name*" class="form-control" formControlName="lastname" />
                <!-- <mat-error *ngIf="hasError('lastname', 'required')">This is a mandatory field</mat-error> -->
               
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" class="form-control" formControlName="gender">
                <div >
                    <mat-radio-button class="radiostyle" value="0">Female</mat-radio-button>
                    <mat-radio-button class="radiostyle" value="1">Male</mat-radio-button>
                </div>
            </mat-radio-group>
            <br />
            <button mat-raised-button type="button" matStepperNext (click)="step1Submitted()">Next</button>
        </div>
    </div>
</mat-card>